@using KeepAlive.Models

@model LoginViewModel

<h2>Effettua il login</h2>
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "signiin"}))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.TextBoxFor(model => model.UserEmail, new { @class = "form-control", placeholder = "Username o email" })
        @Html.ValidationMessageFor(m => m.UserEmail)
    </div>
    <div class="form-group">
        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(model => model.RememberMe)
            Mantieni l'accesso
        </label>
    </div>

    <button type="submit" class="btn btn-default bottom-margin-10">Accedi</button>

}



@Html.Partial("Partial/Common/MakeRecovery")
@Html.Partial("Partial/Common/MakeRegister")








