@using KeepAlive.Models

@model Register2ViewModel

<h2 class="bottom-margin-20">Registrati</h2>
@using (Html.BeginForm("Register2", "Account"))
{
    <div class="form-group">
        <div class="description-field">
            @Html.DisplayNameFor(m => m.DomandaSegreta)
        </div>
        @Html.DropDownListFor(m => m.DomandaSegreta, new SelectList(Model.DomandeSegrete, "key", "value"), new { @class = "form-control" })
    </div>

    <div class="form-group">
        <div class="description-field">
            @Html.DisplayNameFor(m => m.RispostaSegreta)
        </div>
        @Html.TextBoxFor(m => m.RispostaSegreta, new { @class = "form-control bottom-margin-20", placeholder = "Risposta segreta" })
    </div>

    <div class="g-recaptcha bottom-margin-20" data-sitekey="6LeFgFkUAAAAAA3gQzeQUeXAtnVCZDHzu_mKxJ1m"></div>

    <button id="register" type="submit" class="btn btn-default bottom-margin-10">Avanti</button>
}

@Html.Partial("Partial/Common/MakeLogin")

<script src='https://www.google.com/recaptcha/api.js'></script>