@using KeepAlive.Models

@model Register2ViewModel

<h2 class="bottom-margin-20">Registrati</h2>
@using (Html.BeginForm("Register2", "Account"))
{
    <div class="form-group">
        @Html.LabelFor(m=>m.DomandaSegreta,"Seleziona una domanda segreta")
        @Html.DropDownListFor(m => m.DomandaSegreta, new SelectList(Model.DomandeSegrete, "key", "value"), new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.RispostaSegreta, "Rispondi alla domanda segreta che hai scelto")
        @Html.TextBoxFor(m => m.RispostaSegreta, new { @class = "form-control bottom-margin-20", placeholder = "Risposta segreta" })
    </div>

    <div class="g-recaptcha" data-sitekey="6LeFgFkUAAAAAA3gQzeQUeXAtnVCZDHzu_mKxJ1m"></div>

    <button id="register" type="submit" class="btn btn-default bottom-margin-10">Avanti</button>
}

<div>
    @Ajax.ActionLink("Effettua l'accesso",
                                                              "Login", null,
                                                              new AjaxOptions()
                                                              {
                                                                  UpdateTargetId = "account",
                                                                  InsertionMode = InsertionMode.Replace,
                                                                  HttpMethod = "GET"
                                                              },
                                                              new { id = "recover" })

</div>

<script src='https://www.google.com/recaptcha/api.js'></script>